footer{
    background-color:#000d1a!important;
    margin-top: 50px!important;
}

.fb-ic,.tw-ic,.gplus-ic,.ins-ic,.li-ic{
    color: white;
}
p ,a{
    color: white;
}
hr{
    background-color: white;
}
.f-head{
    background-color: #3e0080;
}