<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required
            username
          />
        </div>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
          |
          <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
            Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button>
        </div>
      </form>
    </div>
  </div>
  



  <!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	
	</head>
	<body class="account-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
								
							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="../../../assets/images/login-banner.png" class="img-fluid" alt="Doccure Register">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>{{isPatient ? 'Patient' :'Doctor'}} {{ isLoginMode ? 'Login' : 'Register' }} <a (click)="onDoctorSwitch()">Are you a Doctor?</a></h3>
										</div>
										
										<!-- Register Form -->
										<form action="doctor-dashboard.html">
											<div class="form-group form-focus" *ngIf='!isLoginMode'>
												<input type="text" class="form-control floating">
												<label class="focus-label">Name</label>
											</div>
											<div class="form-group form-focus">
												<input type="text" class="form-control floating">
												<label class="focus-label">Mobile Number</label>
											</div>
											<div class="form-group form-focus">
												<input type="password" class="form-control floating">
												<label class="focus-label">Create Password</label>
											</div>
											<div class="text-right" *ngIf='!isLoginMode'>
												<a class="forgot-link" (click)="onSwitchMode()">Already have an account?</a>
                      </div>
                      <div class="text-right" *ngIf='isLoginMode'>
                        <a class="forgot-link" (click)="onSwitchMode()" style="margin-right: 170px;">Back to signup</a>
                        <a class="forgot-link">Forgot password?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
											<div class="login-or">
												<span class="or-line"></span>
												<span class="span-or">or</span>
											</div>
											<div class="row form-row social-login">
												<div class="col-6">
													<a href="#" class="btn btn-facebook btn-block"><i class="fa fa-facebook-f mr-1"></i> Login</a>
												</div>
												<div class="col-6">
													<a href="#" class="btn btn-google btn-block"><i class="fa fa-google mr-1"></i> Login</a>
												</div>
											</div>
										</form>
										<!-- /Register Form -->
										
									</div>
								</div>
							</div>
							<!-- /Register Content -->
								
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->

		</div>
		
	</body>
</html>